#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH 2>/dev/null)

%:
	dh $@

override_dh_auto_build:
	: # Nothing to build

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH),arm64)
	sed -i "s/ttyS0/ttyAMA0/" $(CURDIR)/*.service
endif
	$(MAKE) SBINDIR=`pwd`/debian/tmp/usr/sbin \
		SYSTEMDDIR=`pwd`/debian/tmp/lib/systemd/system install

override_dh_installsystemd:
	dh_installsystemd -pconfig-gate-worker --no-start worker-config-gate.service
	dh_installsystemd -pconfig-gate --no-start config.service
